In [ ]:
#!pip install pandas
import pandas as pd

In [5]:
data_path = 'data21.csv'
data = pd.read_csv(data_path)
data.describe()

,m1 h,m2 h,m3 h,m4 h,m1 a,m2 a,m3 a,m4 a,winner
count,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000
mean,0.203851,0.018046,-0.175793,-2.121804,0.262586,-0.010172,-0.188075,0.079097,0.597701
std,1.874323,0.851237,1.113647,27.008606,1.534574,0.844798,1.216253,1.771672,0.491777
min,-15.990000,-1.490000,-4.308606,-355.150000,-8.530000,-1.590000,-6.585366,-9.018689,0.000000
25%,-0.557500,-0.717500,-0.723690,-0.897694,-0.485000,-0.567500,-0.738679,-0.843039,0.000000
50%,0.355000,-0.025000,-0.033027,0.213582,0.310000,-0.050000,0.000000,0.394425,1.000000
75%,1.212500,0.747500,0.425565,1.182181,1.170000,0.420000,0.452428,1.293192,1.000000
max,3.720000,1.820000,3.080944,3.720000,4.900000,1.920000,2.218462,5.530000,1.000000

In [6]:
y = data.winner
features = ['m1 h', 'm2 h', 'm3 h', 'm4 h', 'm1 a', 'm2 a', 'm3 a', 'm4 a']
x = data[features]

x.describe()

,m1 h,m2 h,m3 h,m4 h,m1 a,m2 a,m3 a,m4 a
count,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000
mean,0.203851,0.018046,-0.175793,-2.121804,0.262586,-0.010172,-0.188075,0.079097
std,1.874323,0.851237,1.113647,27.008606,1.534574,0.844798,1.216253,1.771672
min,-15.990000,-1.490000,-4.308606,-355.150000,-8.530000,-1.590000,-6.585366,-9.018689
25%,-0.557500,-0.717500,-0.723690,-0.897694,-0.485000,-0.567500,-0.738679,-0.843039
50%,0.355000,-0.025000,-0.033027,0.213582,0.310000,-0.050000,0.000000,0.394425
75%,1.212500,0.747500,0.425565,1.182181,1.170000,0.420000,0.452428,1.293192
max,3.720000,1.820000,3.080944,3.720000,4.900000,1.920000,2.218462,5.530000

In [18]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

data_model = DecisionTreeRegressor(random_state=1)
data_model.fit(x, y)

DecisionTreeRegressor(random_state=1)

In [16]:
predicted_results = data_model.predict(x)
mean_absolute_error(y, predicted_results)

0.0

In [19]:
# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(x, y, random_state = 0)
# Define model
data_model = DecisionTreeRegressor()
# Fit model
data_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = data_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

0.38636363636363635