In [27]:
#!pip install pandas
import pandas as pd

In [61]:
#grab data
data_path = 'data21.csv'
data = pd.read_csv(data_path)
#print
data.describe()

,m1 h,m2 h,m3 h,m4 h,m1 a,m2 a,m3 a,m4 a,winner
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,0.208667,0.028154,-0.200476,-1.917780,0.311333,-0.042923,-0.244109,0.047172,0.584615
std,1.825459,0.842226,1.117854,25.518840,1.510547,0.851030,1.252191,1.838154,0.494057
min,-15.990000,-1.490000,-4.308606,-355.150000,-8.530000,-1.590000,-6.585366,-9.018689,0.000000
25%,-0.485000,-0.695000,-0.786815,-0.893624,-0.370000,-0.670000,-0.777888,-0.967241,0.000000
50%,0.390000,-0.020000,-0.033701,0.212480,0.320000,-0.070000,-0.002105,0.393135,1.000000
75%,1.165000,0.745000,0.419659,1.181154,1.325000,0.415000,0.383080,1.325625,1.000000
max,3.720000,1.820000,3.080944,3.720000,4.900000,1.920000,2.218462,5.530000,1.000000

In [62]:
#y is the value we are trying to predict
y = data.winner
#these are the variables we are using to make the prediction
features = ['m1 h', 'm2 h', 'm3 h', 'm4 h', 'm1 a', 'm2 a', 'm3 a', 'm4 a']
x = data[features]

x.describe()

,m1 h,m2 h,m3 h,m4 h,m1 a,m2 a,m3 a,m4 a
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,0.208667,0.028154,-0.200476,-1.917780,0.311333,-0.042923,-0.244109,0.047172
std,1.825459,0.842226,1.117854,25.518840,1.510547,0.851030,1.252191,1.838154
min,-15.990000,-1.490000,-4.308606,-355.150000,-8.530000,-1.590000,-6.585366,-9.018689
25%,-0.485000,-0.695000,-0.786815,-0.893624,-0.370000,-0.670000,-0.777888,-0.967241
50%,0.390000,-0.020000,-0.033701,0.212480,0.320000,-0.070000,-0.002105,0.393135
75%,1.165000,0.745000,0.419659,1.181154,1.325000,0.415000,0.383080,1.325625
max,3.720000,1.820000,3.080944,3.720000,4.900000,1.920000,2.218462,5.530000

In [63]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(x, y, random_state = 0)

data_model = DecisionTreeRegressor(random_state=1)
data_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = data_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

0.5510204081632653

In [64]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  0
Max leaf nodes: 50  		 Mean Absolute Error:  0
Max leaf nodes: 500  		 Mean Absolute Error:  0
Max leaf nodes: 5000  		 Mean Absolute Error:  0

In [65]:
random_model = RandomForestRegressor(random_state=1)
random_model.fit(train_X, train_y)

val_preds = random_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

0.5510204081632653