In [4]:
#!pip install pandas
import pandas as pd

In [15]:
data_path = 'data21.csv'
data = pd.read_csv(data_path)
data.describe()

,m1 h,m2 h,m3 h,m4 h,m1 a,m2 a,m3 a,m4 a,winner
count,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000
mean,0.159574,-0.186383,-0.175173,-3.953586,0.420851,0.193617,-0.241954,0.123245,0.531915
std,2.147456,0.865987,1.173346,36.703012,1.662491,0.788320,1.246055,1.800706,0.501656
min,-15.990000,-1.490000,-4.070000,-355.150000,-8.530000,-1.490000,-6.585366,-9.018689,0.000000
25%,-0.477500,-0.877500,-0.775410,-0.848714,-0.165000,-0.185000,-0.776256,-0.587443,0.000000
50%,0.335000,-0.220000,-0.045888,0.169384,0.460000,0.035000,-0.029111,0.486804,1.000000
75%,1.172500,0.352500,0.472885,1.117012,1.430000,0.602500,0.457257,1.281210,1.000000
max,3.360000,1.520000,3.080944,2.959331,4.900000,1.670000,2.218462,3.017722,1.000000

In [18]:
y = data.winner
features = ['m1 h', 'm2 h', 'm3 h', 'm4 h', 'm1 a', 'm2 a', 'm3 a', 'm4 a']
x = data[features]

x.describe()

,m1 h,m2 h,m3 h,m4 h,m1 a,m2 a,m3 a,m4 a
count,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000
mean,0.159574,-0.186383,-0.175173,-3.953586,0.420851,0.193617,-0.241954,0.123245
std,2.147456,0.865987,1.173346,36.703012,1.662491,0.788320,1.246055,1.800706
min,-15.990000,-1.490000,-4.070000,-355.150000,-8.530000,-1.490000,-6.585366,-9.018689
25%,-0.477500,-0.877500,-0.775410,-0.848714,-0.165000,-0.185000,-0.776256,-0.587443
50%,0.335000,-0.220000,-0.045888,0.169384,0.460000,0.035000,-0.029111,0.486804
75%,1.172500,0.352500,0.472885,1.117012,1.430000,0.602500,0.457257,1.281210
max,3.360000,1.520000,3.080944,2.959331,4.900000,1.670000,2.218462,3.017722